$primary-black-colour: #000;
$primary-white-color: #fff;
$hero-bg-blue-colour: #dae9fc;
$comments-bg-colour: #f7ebdc;
$true-green-colour: #e2f3c5;
$false-red-colour: #ffbdbd;
$reminder-font-colour: #9b36de;
$reminder-bg-colour: #fffbfb;
$secondary-bg-colour: #fffcf3;
$kudo-card-bg-colour: #bcddf8;
$comments-gray-colour: #e7e0d8;
$button-colour: #D0B8A8;