@import "./typography";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  width: 100%;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.986rem;
  font-weight: 600;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
  font-weight: 200;
}
h5 {
  font-size: 1.44rem;
  font-weight: 200;
}
p {
  font-size: 1rem;
}
