// left and right margin for block
@mixin wrapper-padding($size) {
    margin-left: $size;
    margin-right: $size;
  }

@mixin flexbox-setting($direction: row, $main-axis: flex-start, $cross-axis) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main-axis;
    align-items: $cross-axis;
  }