@import "./partials/global";

.quotes-comments {
  display: block;
  @include breakpoint(tablet) {
    display: flex;
  }
  .kudos {
    width: 100%;
    @include breakpoint(tablet) {
      width: 60%;
    }
  }
  .comments {
    padding: 3rem 3rem;
    width: 100%;
    background-color: $comments-bg-colour;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
      width: 40%;
    }
    @include breakpoint(desktop) {
      padding: 4rem 5rem;
    }
    &__heading {
      font-family: $heading-font;
      font-size: 32px;
      font-weight: 200;
      margin-bottom: 2rem;
    }
    &__block {
      width: 100%;
    }
    &__form {
      padding-bottom: 2vh;
      @include comment-block-style;
      form {
        @include form-style;
        label {
          text-transform: uppercase;
          color: $comments-gray-colour;
          display: block;
          margin-bottom: 4px;
          font-size: 12px;
        }
        input {
          @include form-field-style;
          line-height: normal;
        }
        textarea {
          height: 4rem;
          @include form-field-style;
        }
        button {
          @include button-style;
        }
      }
    }
    &__card {
      margin-bottom: 2rem;
      border: 1px solid $comments-gray-colour;
      border-radius: 5px;
      padding: 1rem 1rem;
      &__info {
        @include display-justify-style(flex, space-between);
        align-items: start;
        &--name {
          margin-top: 0;
        }
        &--date {
          color: $comments-gray-colour;
          margin-top: 0;
        }
      }
      &__text {
        margin-top: 0;
        font-weight: 300;
      }
    }
  }
}

.game {
  padding: 3rem 2rem;
  @include breakpoint(tablet) {
    padding: 5rem 3rem;
  }

  &__heading {
    font-family: "Josefin Slab", serif;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    color: $primary-black-colour;
    margin-bottom: 4rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  &__card {
    width: 90%;
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    align-items: stretch;

    @include breakpoint(tablet) {
      width: 40%;
      padding: 3rem 3rem;
      min-height: 20rem;
    }

    @include breakpoint(desktop) {
      width: 25%;
    }

    &__question {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 100;
      text-align: center;
    }

    &__button {
      padding: 10px 15px;
      width: 70%;
      cursor: pointer;
      font-weight: 100;
      &--true {
        background-color: $true-green-colour;
        border: 0;
        border-radius: 5px;
        padding: 1rem 1rem;
        margin: 0 auto;
        font-family: $main-font;
        font-size: 20px;
      }
      &--false {
        background-color: $false-red-colour;
        border: 0;
        border-radius: 5px;
        padding: 1rem 1rem;
        margin: 0 auto;
        font-family: $main-font;
        font-size: 20px;
      }
    }
  }
}

.reminder {
  background-color: $reminder-bg-colour;
  padding: 3rem 3rem;

  &__heading {
    font-family: "Josefin Slab", serif;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    color: $reminder-font-colour;
  }
}

footer {
  display: block;
  padding: 3rem 3rem;
  justify-content: space-between;
  background-color: $secondary-bg-colour;
  font-weight: 100;
  @include breakpoint(tablet) {
    display: flex;
  }
}

.social__icon {
  width: 2rem;
  height: auto;
  padding-top: 2rem;
}

h2 {
  font-family: $heading-font;
  font-weight: 100;
  padding-bottom: 3rem;
}

button {
  background-color: $button-colour;
  padding: 1rem;
  border: none;
}

input {
  padding: 1rem;
  border: solid 1px $button-colour;
}

.footer__c1 {
  padding: 1rem;
}

.footer__c2 {
  padding-top: 2rem;
}

.footer__c3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.hero {
  background-color: $hero-bg-blue-colour;
  font-weight: 200;
  &__img {
    &--top {
      width: 100%;
      box-sizing: content-box;
    }
    &--bottom {
      width: 100%;
      box-sizing: content-box;
    }
  }
  &__words {
    padding: 3rem 0;

    &-wrapper {
      @include wrapper-padding(2rem);
      display: block;
      gap: 1rem;

      @include breakpoint(tablet) {
        @include flexbox-setting(row, space-around, center);
      }
    }
    &--left {
      @include flexbox-setting(column, flex-start, flex-start);
      &-author {
        align-self: flex-end;
      }
    }
    &--right {
      width: 30%;
      @include flexbox-setting(column, flex-start, flex-start);
    }
  }
}
.kudos {
  padding: 3rem 3rem;

  @include breakpoint(desktop) {
    padding: 4rem 5rem;
  }
  background-color: $secondary-bg-colour;
  @include flexbox-setting(column, flex-start, center);
  flex-wrap: wrap;

  &__list {
    @include flexbox-setting(row, center, flex-start);
    flex-wrap: wrap;
    gap: 2rem;
    align-items: stretch;
  }
  h2 {
    font-family: "Josefin Slab", serif;
    font-weight: 200;
  }

  &__item {
    border-radius: 1rem;
    @include flexbox-setting(column, center, flex-start);
    width: 80%;

    @include breakpoint(desktop) {
      width: 30%;
    }

    background-color: $kudo-card-bg-colour;
    &-wrapper {
      width: 100%;
      padding: 2rem;
    }
    &-log {
      width: 100%;
      @include flexbox-setting(row, space-between, flex-start);
    }
    &-text {
      width: 100%;
      background-color: $primary-white-color;
      padding: 1rem;
      margin-top: 1rem;
    }
  }
}
